
    
        input{
            border-radius: 500px;
            width: 6%;
            height: 5%;
            font-family: arial;
            font-size: 16px;
            padding: 1%;
            text-align: center;
            border: 1px solid grey;
        }
        button{
        border-radius: 500px;
        width: 15%;
        height: 7%;
        background-color: #288ec8;
        border: none;
        color: white;
        padding: 1%;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 1%;
        margin-left: 1%;
        font-family: arial;
        margin-left: 4%;
        }
        button:hover {
            background-color:gray;
            cursor:pointer;
        }
        #buttondiv{
            padding-top: 2%;
            margin-top: 1em;
            text-align:center;
        }
    
    
        p,form{
            text-decoration: none;
            text-align: center;
            font-size: 16px;
            margin: 1%;
            margin-left: 1%;
            font-family: arial;
        }
        #merge-input{
          width:13%;
        }
    
    
        .instruction {
            position: relative;
            float:right;
            padding: 10px;
            width: 50vw;
            border: 1px solid grey;
            border-left: 15px solid #288ec8;
            font-family: arial;
        }
    
    
        canvas{
          padding: 0;
          margin: 0px auto;
          display: block;
        }
    
