
#container {
  position: relative;
  width: auto;
  height: auto;
  overflow-y: visible;
  overflow-x: hidden;
}

.avcontainer{
  overflow: visible;
}

.jsavarray {
  position: absolute;
}

#allInput{
  position: relative;
  text-align: center ;
}

.comment-box {
  margin-top: 1%;
  min-height: 150px;
}

select {
  padding: 7px 20px;
  margin-right: 30px ;
  box-sizing: border-box;
  width: 6%; 
  margin-bottom: 10px;
}
